/*===================================
=> Configurações Gerais
===================================*/
#menutop {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  
}
#navbar span{
  
  /* background-color: #bf042665; */
  font-size: x-large;
}
h2, h3, h4, h5{
  color: #73020C;
}

.altura {
  min-height: 50vh;
}


aside{
  padding-left: 50px;
}
aside h3 h5 p{
  font-size: x-large;
  /* color: white; */
}

section {
  padding: 0px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fdfdfd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.cor-vermelho{
  color: #fc0404;
}
.cor-verde{
  color: #15ff00;
}
.margens {
  
  background-size: cover;
  position: relative;
}

.bg-escuro{
  background-color: black;
  
}


.bg-verde{
  background-color: #ebf1b986;
  
}

.bg-verde-claro{
  background-color: #f0f19186;
  
}

.bg-pink{
  background-color: #bf042656;
  
}
.bg-verde-escuro{
  background-color: #667302;
  
}


/*===================================
=> Depoimento
===================================*/


.section-bg {
  background: #a9bf0411;
}


#depoimento .section-header {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #depoimento .depoimento-item {
    text-align: center;
  }
}

#depoimento .depoimento-item .depoimento-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

@media (max-width: 767px) {
  #depoimento .depoimento-item .depoimento-img {
    float: none;
    margin: auto;
  }
}

#depoimento .depoimento-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: rgb(94, 32, 32);
  margin-left: 140px;
}

#depoimento .depoimento-item h4 {
  font-size: 14px;
  color: rgb(29, 37, 32);
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#depoimento .depoimento-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

@media (min-width: 992px) {
  #depoimento .depoimento-item p {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #depoimento .depoimento-item h3, #depoimento .depoimento-item h4, #depoimento .depoimento-item p {
    margin-left: 0;
  }
}

#depoimento .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#depoimento .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff0000;
}

#depoimento .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #15ff00;
}


/*===================================
=> banner_topo
===================================*/
#banner_baixo {
  width: 100%;
  height: 55vh;
  background: black center center;
  background-size: cover;
  position: relative;
}
#banner_baixo h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#banner_baixo h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


#banner_topo {
  width: 100%;
  height: 80vh;
  background: url("../img/spare-ribs-5340942_1920.jpg") center center;
  background-size: cover;
  position: relative;
}

#banner_topo .container {
  padding-top: 80px;
}

#banner_topo:before {
  content: "";
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#banner_topo h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#banner_topo h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#banner_topo .btn-get-started {
  
  display: inline-block;
  padding: 8px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

#banner_topo .btn-get-started:hover {
  border: 2px solid #009970;
  background: #009970;
  
}

@media (min-width: 1024px) {
  #banner_topo {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #banner_topo h1 {
    font-size: 32px;
    line-height: 36px;
  }
  
  #banner_topo {
    height: 100vh;
  }
  #banner_topo .container {
    padding-top: 60px;
  }
  
}




/*===================================
=> cardapio
===================================*/

.cardapio .cardapio-item {
  margin-bottom: 30px;
}

.cardapio #cardapio-flters {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px auto;
  
}

.cardapio #cardapio-flters li {
  display: inline-block;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  color: #444444;
  margin-bottom: 5px;
  
  
}

.cardapio #cardapio-flters li:hover, .cardapio #cardapio-flters li.filter-active {
  color: #fff;
  background: #009970;
}

.cardapio #cardapio-flters li:last-child {
  margin-right: 0;
}

.cardapio .cardapio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, 0.6);
}

.cardapio .cardapio-wrap::before {
  content: "";
  background: rgba(54, 52, 58, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.cardapio .cardapio-wrap img {
  transition: all ease-in-out 0.3s;
}

.cardapio .cardapio-wrap .cardapio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.cardapio .cardapio-wrap .cardapio-info h4 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.cardapio .cardapio-wrap .cardapio-info p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.cardapio .cardapio-wrap .cardapio-links {
  text-align: center;
  z-index: 4;
}

.cardapio .cardapio-wrap .cardapio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.cardapio .cardapio-wrap .cardapio-links a:hover {
  color: #00cc95;
}

.cardapio .cardapio-wrap:hover::before {
  opacity: 1;
}

.cardapio .cardapio-wrap:hover img {
  transform: scale(1.2);
}

.cardapio .cardapio-wrap:hover .cardapio-info {
  opacity: 1;
}

/*===================================
=> Botão ir ao topo
===================================*/
.subir {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #A9BF04;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  
}

.subir i {
  text-transform: none;
  font-size: smaller;
  color: #fff;
  line-height: 0;
}

.subir:hover {
  text-decoration: none;
  background: #7ebf04;
  color: #fff;
}

.subir.active {
  text-decoration: none;
  visibility: visible;
  opacity: 1;
}

.footer {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 3vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: justify;
  /* height: 10vh; */
  bottom: 0;
  width: 100%;
  background-color: #bf04269a;
  color: white;
  text-align: center;
}
.footer-left{
  text-align: left;
}
.footer_rihgt{
  display: inline-flex;
  text-align: left;
}
.footer-center{
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 100%;
  background-color: #bf0426c0;
  color: white;
  height: 5vh;
  align-items: center;
}

/*===================================
=> Time
===================================*/
.time {
  background: #fff;
}

.time .membro {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.time .membro .fotos {
  overflow: hidden;
  width: 190px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.time .membro .fotos img {
  transition: ease-in-out 0.3s;
}

.time .membro:hover img {
  transform: scale(1.1);
}

.time .membro h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.time .membro strong {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.time .membro strong::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.time .membro p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.time .membro .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time .membro .social a {
  /* transition: ease-in-out 0.5s; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================================
=> parceiros
===================================*/
.parceiros {
  background: #fff;
}

.parceiros .apoio {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.parceiros .apoio .fotos {
  overflow: hidden;
  width: 190px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.parceiros .apoio .fotos img {
  transition: ease-in-out 0.3s;
}

.parceiros .apoio:hover img {
  transform: scale(1.1);
}

.parceiros .apoio h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.parceiros .apoio strong {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.parceiros .apoio strong::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.parceiros .apoio p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.parceiros .apoio .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parceiros .apoio .social a {
  transition: ease-in-out 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================================
=> cardds
===================================*/
#cardds {
  
  
}
.cardds {
  background: rgba(255, 0, 0, 0.075);
  background-size: cover;
  position: relative;
  
}

.cardds .unidade {
  position: relative;
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.603);
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  text-align: center;
  min-height: 66vh;
}

.cardds .unidade .fotos {
  overflow: hidden;
  width: 190px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.cardds .unidade .fotos img {
  transition: ease-in-out 0.3s;
}

.cardds .unidade:hover img {
  transform: scale(1.1);
}

.cardds .unidade h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.cardds .unidade strong {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.cardds .unidade strong::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cardds .unidade p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.cardds .unidade .texto {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardds .unidade .texto a {
  /* transition: ease-in-out 0.5s; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================================
=> contato
===================================*/
#mapa {
  border:0;
  width: 100%; 
  height: 270px;
}
.contato .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contato .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: #009970;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contato .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #36343a;
}

.contato .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #686470;
}

.contato .form-contato {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contato .form-contato .form-group {
  padding-bottom: 8px;
}

.contato .form-contato .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contato .form-contato .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contato .form-contato .error-message br + br {
  margin-top: 25px;
}

.contato .form-contato .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contato .form-contato .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contato .form-contato .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contato .form-contato input, .contato .form-contato textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contato .form-contato input {
  height: 44px;
}

.contato .form-contato textarea {
  padding: 10px 12px;
}

.contato .form-contato button[type="submit"] {
  background: #009970;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contato .form-contato button[type="submit"]:hover {
  background: #00805d;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * This is a simplified version without
 * vendor prefixes. With them included
 * (which you will need), things get far
 * more verbose!
 */
 .whatsapp {
  /* Choose the animation */
  animation-name: movingBox;

  /* The animation’s duration */
  animation-duration: 1300ms;

  /* The number of times we want
      the animation to run */
  animation-iteration-count: infinite;

  /* Causes the animation to reverse
      on every odd iteration */
  animation-direction: alternate;
}

@keyframes movingBox {
  0% {
    transform: translate(2px, 10px);
    /* opacity: 0.3; */
  }

  50% {
    transform: translate(10px, 10px);
    /* opacity: 0.2; */
  }

  100% {
    transform: translate(10px, 10px);
    /* opacity: 0.8; */
  }
}